dev {{ openvpn_server_dev }}
persist-tun
persist-key
cipher {{ openvpn_server_cipher }}
{% if openvpn_tlsauth|bool %}auth SHA512{% endif %}

tls-client
client
resolv-retry infinite
proto {% if openvpn_server_proto == 'tcp' %}tcp-client{% else %}udp{% endif %}

remote {{ openvpn_remote_host }} {{ openvpn_server_port }}
{% if openvpn_users_list is defined %}auth-user-pass{% endif %}

remote-cert-tls {{ openvpn_server_name }}
redirect-gateway def1
compress lzo

{% for item in openvpn_client_custom_configuration %}
{{ item }}
{% endfor %}
<ca>
{{openvpn_ca_content.stdout }}
</ca>
<cert>
{{ openvpn_client_cert_content.stdout }}
</cert>
<key>
{{ openvpn_client_key_content.stdout }}
</key>
{% if openvpn_tlsauth|bool %}
key-direction 1
<tls-auth>
{{ openvpn_tls_auth_key_content.stdout }}
</tls-auth>
{% endif %}
